@model SportsStore2.WebUI.Models.CartSummaryViewModel

@{
    ViewBag.Title = "Shopping Cart Summary";
}

<h2>Shopping Cart Summary</h2>

<table width="90%" align="center">
    <thead>
        <tr>
            <th style="text-align:center">Quantity</th>
            <th style="text-align:left">Item</th>
            <th style="text-align:right">Price</th>
            <th style="text-align:right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Cart.Items) {
        <tr>
            <td style="text-align:center">@item.Quantity</td>
            <td style="text-align:left">@item.Item.Name</td>
            <td style="text-align:right">@item.Item.Price.ToString("c")</td>
            <td style="text-align:right">@((item.Quantity * item.Item.Price).ToString("c"))</td>
            <td style="text-align:right">
                @using (Html.BeginForm("DeleteItem", "Cart")) {
                    <input name="productId" type="hidden" value="@item.Item.ProductId" />
                    <input name="returnUrl" type="hidden" value="@Model.ReturnUrl" />
                    <input type="submit" value="Delete From Cart" class="actionButtons" />
                }
            </td>
        </tr>
    }
     </tbody>
     <tfoot>
         <tr>
             <td colspan="3" style="text-align:right">Total: @(Model.Cart.Items.Sum(i => i.Quantity * i.Item.Price).ToString("c"))</td>
         </tr>
     </tfoot>
</table>
<div class="actionButtons">
    <a href="@Model.ReturnUrl">Continue Shopping</a>
</div>